@use "sass:map";
@use "@bu0nq/scss-function-rem" as *;

$breakpoint-xxs: 480px !default;
$breakpoint-xs: 640px !default;
$breakpoint-sm: 768px !default;
$breakpoint-md: 1024px !default;
$breakpoint-lg: 1280px !default;
$breakpoint-xl: 1440px !default;
$breakpoint-xxl: 1536px !default;

$breakpoints: (
  xxs: $breakpoint-xxs,
  xs: $breakpoint-xs,
  sm: $breakpoint-sm,
  md: $breakpoint-md,
  lg: $breakpoint-lg,
  xl: $breakpoint-xl,
  xxl: $breakpoint-xxl,
);

@mixin media-breakpoint-min(
  $min
) {
  $value: map.get($breakpoints, $min);

  @if ($value == 0) {
    @content;
  } @else {
    @media only screen and (min-width: rem($value)) {
      @content;
    }
  }
}

@mixin media-breakpoint-max(
  $max
) {
  $value: map.get($breakpoints, $max) - 1px;

  @if ($value == 0) {
    @content;
  }
  @else {
    @media only screen and (max-width: rem($value)) {
      @content;
    }
  }
}

@mixin media-breakpoint-min-max(
  $min,
  $max
) {
  $value-min: map.get($breakpoints, $min);
  $value-max: map.get($breakpoints, $max) - 1px;

  @if ($value-min == 0) {
    @media only screen and (max-width: rem($value-max)) {
      @content;
    }
  } @else {
    @media only screen and (min-width: rem($value-min)) and (max-width: rem($value-max)) {
      @content;
    }
  }
}
